.markdown-entry {
  font-family: Inconsolata, monospace;
  resize: vertical;
}

// need to specify textarea to override a bootstrap default
textarea.markdown-entry--large {
  height: 700px; // fallback for browsers without viewport height support
  height: calc(90vh - 50px);
}

textarea.markdown-entry--medium {
  height: 450px; // fallback for browsers without viewport height support
  height: calc(65vh - 50px);
}

textarea.markdown-entry--small {
  height: 250px; // fallback for browsers without viewport height support
  height: calc(40vh - 50px);
}
