.navbar-publishing {
  background: $color__white;
  border-bottom: 1px solid $color__grey--light;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

  .navbar-brand {
    margin-left: 0;
    padding: 0;
  }
}


