<div class="mdl-layout layout-fixed-width">

    <ngForm role="form">
        <div ng-include="'/app/views/account-form.html'"></div>
    </ngForm>

    <nav class="button-bar clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-5">
                    <a class="btn btn-default " id="button-back" ui-sref="listAccount"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
                </div>
                <div class="col-xs-2">
                    <button ng-hide="action.DeletingContent===true" ng-click="action.DeletingContent=true" class="btn btn-danger">Delete</button>
                    <div ng-show="action.DeletingContent===true">
                        <a ng-click="action.DeletingContent=false" class="btn btn-default">Cancel</a>
                        <a ng-click="del(account)" class="btn btn-danger">Really delete</a>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="pull-right">
                        <button type="submit" class="update-action btn btn-primary content-action" id="buttonUpdate" ng-click="update(account)">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</div>
