<div class="mdl-layout layout-fixed-width">
    <h4>Roles</h4>

    <span class="mdl-chip">
      <span class="mdl-chip__text">
        {{itemCount}} <ng-pluralize count="itemCount" when="{'1': 'item', 'other': 'items'}"></ng-pluralize> shown
      </span>
    </span>

    <div class="data-table__apron mdl-shadow--2dp">
        <table ng-show="$data" ng-table="tableParams" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable" show-filter="true">
            <tbody>
                <tr ng-repeat="item in $data">
                    <td width="200" data-title="'Role'" filter="{name: 'text'}" sortable="'name'">
                        {{item.name}}
                    </td>
                    <td width="60" data-title="'Actions'">
                        <a class="mdl-button mdl-js-button mdl-button--accent" ui-sref="editRole({id:item.id})">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored data-table__fab-button" ui-sref="newRole">
          <i class="material-icons">add</i>
        </button>
    </div>

</div>
