<div class="row">  
  <div class="col-xs-12 col-md-8">    
    <div class="card">
      
      <div class="field">
        <label for="exit">Username</label>
        <input type="text" class="form-control" id="username" ng-model="account.username" placeholder="The users log in name.">
      </div>
      
      <div class="field">
        <label for="exit">Password</label>
        <input type="text" class="form-control" id="password" ng-model="account.password" placeholder="The users password.">
      </div>
      
    </div>    
  </div>
</div>
