<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div class="thesett-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
            <a id="thesett-logo" href="http://"></a>

            <div class="mdl-layout-spacer"></div>

            <nav class="mdl-navigation">
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#/account">Accounts</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#/role">Roles</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#/permission">Permissions</a>
            </nav>

            <button class="mdl-button mdl-js-button mdl-button--accent" ng-click="logout()" ng-show="isAuthenticated()">
              Logout
            </button>
        </div>
    </div>
</div>
