<div class="mdl-layout__content">
	<div class="fixed-width">

		<div class="thesett-card-container mdl-grid">

			<div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
				<div class="mdl-card__media">
          <img src="/app/images/pcb-large.x2.jpg" class="img-responsive img-circle" style="display:inline">
				</div>
				<div class="mdl-card__actions">
					<a class="mdl-button mdl-js-button mdl-button--primary" ui-sref="listAccount" href="">
							Get Started
							<i class="material-icons">chevron_right</i>
						</a>
				</div>
			</div>

	</div>
</div>
