<style>
 #welcome-panel {
     background-color: #ffffff;
     padding-bottom: 2em;
 }

 #welcome-panel-image {
     padding-top: 2em;
     padding-bottom: 2em;
 }
</style>

<div class="jumbotron">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6" id="welcome-panel">
                <div class="row">
                    <h3></h3>
                </div>
                <div class="row" id="welcome-panel-image">
                    <img src="/app/images/pcb-large.x2.jpg" class="img-responsive img-circle" style="display:inline" alt="Bird">
                </div>
                <div class="row">
                    <a type="button" href="#/account" class="btn-primary btn">Get Started &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>
