<div class="fixed-width__one-card">

	<div class="mdl-grid">

		<div class="mdl-layout-spacer"></div>

		<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
			<div class="mdl-card__media">
				<img src="/app/images/pcb-large.x2.jpg"/>
				<!-- <img src="/app/images/pcb-large.x2.jpg" class="img-circle"/> -->
				<!-- <img src="/app/images/pcb-large.x2.jpg" class="img-responsive img-circle" style="display:inline"/> -->
				<!-- <img src="/app/images/pcb-large.x2.jpg" class="img-responsive" style="display:inline"/> -->
			</div>
			<!-- <div class="mdl-card__title">
				<h4 class="mdl-card__title-text">Welcome</h4>
			</div> -->
			<div class="mdl-card__supporting-text">
				<!-- <p>Manage user accounts. </p> -->
			</div>
			<div class="mdl-card__actions">
				<a class="mdl-button mdl-js-button mdl-button--primary" ui-sref="listAccount" href="">
							Get Started
							<i class="material-icons">chevron_right</i>
						</a>
			</div>
		</div>

		<div class="mdl-layout-spacer"></div>

	</div>
