// Initial colour setup
$color__blue--lightest: #E8f0F6;
$color__blue--lighter: #d9effc;
$color__blue--light: #226eaa;
$color__blue--base: #1A5380;
$color__blue--dark: #173163;
$color__blue--darker: #011b30;

$color__grey--lighter: #f8f8f8;
$color__grey--light: #ebebeb;
$color__grey--base: #b3b3b3;
$color__grey--dark: #727272;
$color__grey--darker: #333333;
$color__grey--darkest: #111111;

$color__raspberry--light: #bc4274;
$color__raspberry--base: #8d3257;
$color__raspberry--dark: #622f6d;

$color__green--base: #487f33;

$color__red--base: #d32205;

$color__white: #ffffff;
$color__black: #000000;

//used in notifications
$color__gold: #FFb644;
